@import 'reset.css';
@import 'variables.css';
@import 'globalStyles.css';
@import 'animations.css';
@import 'header.css';
@import 'search.css';
@import 'bookCard.css';

body {
  background: rgb(117, 34, 32);
}

.mainContent {
  flex: 1 0 0;
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
}
