.bookCardWrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.bookCard {
  position: relative;
  min-width: 320px;
  max-width: 500px;
  height: 490px;
  background: var(--white-bg-color);
  box-shadow: var(--soft-shadow);
  border: 2px solid var(--loader-color);
  padding: 12px;
  margin: 10px;
  justify-content: flex-start;
  flex-direction: column;
  flex: 1 0 0;
}

.bookCardHeader {
  font-size: 2rem;
  height: 6rem;
  overflow: hidden;
  margin: 10px 0;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  font-weight: bold;
}

.bookCardSubheader {
  font-size: 1.2rem;
  color: var(--subtext-color);
  margin-bottom: 20px;
}

.bookCard .detailsRow {
  align-items: flex-start;
  justify-content: space-evenly;
  font-size: 1.2rem;
  width: 100%;
}

.bookCardImage {
  margin-right: 10px;
  box-shadow: var(--soft-shadow);
}

.bookCard .detailsCol {
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.bookCard .detailsCol > * {
  margin-bottom: 10px;
}

/* .ratingsWrapper {} */

.earnedStar {
  color: var(--gold-star-color);
}

.unearnedStar {
  color: var(--inactive-color);
}

.ratingsCount {
  color: var(--subtext-color);
}

.bookCardDescription {
  position: relative;
  /* max-height: 100px; */
  flex: 1 0 0;
  overflow: hidden;
  margin-top: 20px;
  font-size: 1.2rem;
}

.bookCardDescription::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: ' ';
  background: linear-gradient(rgba(248, 248, 248, 0), rgba(248, 248, 248, 1));
}

.bookLink {
  width: 100%;
  padding: 6px;
  font-size: 1.2rem;
  transition-duration: 0.3s;
  color: var(--loader-color);
  font-weight: bold;
}

.bookLink:hover,
.bookLink:focus,
.bookLink:active {
  background: var(--loader-color);
  color: var(--white-bg-color);
}
