<form 
    class="flex search"
    {{on "submit" this.submitSearch}}
>
  <div class="searchShell">
    <button 
        class="searchButton" 
        type="submit"
        disabled={{this.isLoading}}
    >
      <FaIcon @icon="search" />
    </button>
    <Input 
      @value={{this.search.searchQuery}}
      placeholder="Search Books Database..."
    />
  </div>
</form>