<header class='flex header'>
  {{! Book Shelf Search Animation }}
  {{!-- {{#if this.search.isLoading}}
    <div class='searchOverlay'></div>
  {{/if}} --}}
  <div class='headerText'>
    <h1>
      Biblio
    </h1>
  </div>
  <BookSearch />
</header>