<nav class="mainNav">
  <LinkTo @route="index" class="navLink">
    <img
      class="logoImage"
      src="assets/images/book-art.png"
      alt="Book Drawing"
    />
  </LinkTo>
  <LinkTo @route="index" class="navLink">
    Home
  </LinkTo>
</nav>