{{page-title 'SearchResults'}}

{{#unless this.search.isLoading}}
  <BookCard::Wrapper>
    {{#each this.search.searchResults.items as |result|}}
      <BookCard::Card @book={{result.volumeInfo}} />
    {{/each}}
  </BookCard::Wrapper>
{{else}}
  <h1>Loading...</h1>
{{/unless}}