{{page-title "SearchResults"}}
{{#unless this.search.isLoading}}
    <TallCard::Wrapper>
        {{#each this.search.searchResults.items as |result|}}
            <TallCard::Card
                @book={{result.volumeInfo}}
            />
        {{/each}}
    </TallCard::Wrapper>
{{else}}
    <h1>Loading...</h1>
{{/unless}}
